.coords{
    font-family: 'Space Mono';
    margin: 0px;
    padding: 0px;
}

#coords{
    margin: 10px;
    margin-left: 4%;
    padding: 2px;
    background-color: aliceblue;
    border: solid black 1px;
    width: 50.5%
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-family: 'Libre Caslon Text';
    font-size: xx-large;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exclusion{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
    background-color: aliceblue;
    width: 50%;
    border: solid black 1px;
    padding: 5px;
}

#excl{
    padding:0;
    margin:0
}

.info{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
    margin-top: 10px;
    width: 44.6%;
    padding: 5px;
}

#inf{
    margin: 5px;
}

.excl_container{
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: left;
}


/* Checkmarks ----------------------------------------------------------------- */
.checkmark {
    width: 14px; 
    height:14px; 
    margin-top:6px; 
    margin-right:5px;
    border-radius: 30%;
}

#checkmark_population_exclusion{
    background-color: #008000;
    border: black 1px solid;
}

#checkmark_flights_exclusion, #checkmark_overland_flights_exclusion {
    background-color: #800000;
    border: black 1px solid;
}

#checkmark_volcanoe_exclusion{
    background-color: #000080;
    border: black 1px solid;
}

#checkmark_high_sismicity{
    background-color: #c80000;
    border: black 1px solid;
}

#checkmark_medium_sismicity{
    background-color: #ffee00;
    border: black 1px solid;
}

#checkmark_low_sismicity{
    background-color: #3cb300;
    border: black 1px solid;
}

#checkmark_all_same_color{
    background-color:white;
    border: black 1px solid;
}

#checkmark_geological_failure{
    background-color: black;
    border: black 1px solid;
}

#checkmark_indigenous_zones{
    background-color: rgb(73, 10, 118);
    border: black 1px solid;
}

#checkmark_natural_reserve{
    background-color: rgb(255, 165, 0);
    border: black 1px solid;
}

#checkmark_humanity_world_heritage{
    background-color: black;
    border: black 1px solid;
}

#checkmark_electrical_transmission{
    background-color: rgb(255, 247, 28);
    border: black 1px solid;
}

#checkmark_wildfires{
    background-color: rgb(150, 75, 0);
    border: black 1px solid;
}

#checkmark_flooding{
    background-color: rgb(0, 67, 112);
    border: black 1px solid;
}

#checkmark_tsunamis{
    background-color: rgb(20, 52, 255);
    border: black 1px solid;
}

#checkmark_aves{
    background-color: rgb(255, 0, 115);
    border: black 1px solid;
}

#checkmark_paramos{
    background-color: rgb(0, 242, 255);
    border: black 1px solid;
}


/* ----------------------------------------------------------------- */


/* Check buttons ----------------------------------------------------------------- */

#all_same_color:checked ~ .checkmark{
    background-color: #ff0000;
    border: black 1px solid;
}

#population_exclusion:checked ~ .checkmark, #flights_exclusion:checked ~ .checkmark, #overland_flights_exclusion:checked ~ .checkmark, #volcanoe_exclusion:checked ~ .checkmark,
#high_sismicity:checked ~ .checkmark, #medium_sismicity:checked ~ .checkmark, #low_sismicity:checked ~ .checkmark,
#geological_failure:checked ~ .checkmark, #indigenous_zones:checked ~ .checkmark, #natural_reserve:checked ~ .checkmark,
#humanity_world_heritage:checked ~ .checkmark, #electrical_transmission:checked ~ .checkmark, #wildfires:checked ~ .checkmark,
#flooding:checked ~ .checkmark, #tsunamis:checked ~ .checkmark, #aves:checked ~ .checkmark,  #paramos:checked ~ .checkmark{

    background-color:white;
    border: black 1px solid;
}

#excltest {
    background-color: #000080;
    border: black 1px solid;
}

input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 15px; 
    height:15px; 
    margin-top:6px; 
    margin-right:5px;
}

/* ----------------------------------------------------------------- */
