.coords{
    font-family: 'Space Mono';
    margin: 0px;
    padding: 0px;
}

#coords{
    margin: 10px;
    margin-left: 4%;
    padding: 2px;
    background-color: aliceblue;
    border: solid black 1px;
    width: 45%
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-family: 'Libre Caslon Text';
    font-size: xx-large;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exclusion{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
    background-color: aliceblue;
    width: 44.6%;
    border: solid black 1px;
    padding: 5px;
}

#excl{
    padding:0;
    margin:0
}

.info{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
    margin-top: 10px;
    width: 44.6%;
    padding: 5px;
}

#inf{
    margin: 5px;
}

.excl_container{
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: left;
}

.checkmark {
    width: 14px; 
    height:14px; 
    margin-top:6px; 
    margin-right:5px;
    border-radius: 30%;
}

#checkmark_population_exclusion{
    background-color: #008000;
    border: black 1px solid;
}

#checkmark_flights_exclusion, #checkmark_overland_flights_exclusion {
    background-color: #800000;
    border: black 1px solid;
}

#checkmark_volcanoe_exclusion{
    background-color: #000080;
    border: black 1px solid;
}

#checkmark_all_same_color{
    background-color:white;
    border: black 1px solid;
}

#all_same_color:checked ~ .checkmark{
    background-color: #ff0000;
    border: black 1px solid;
}

#population_exclusion:checked ~ .checkmark, #flights_exclusion:checked ~ .checkmark, #overland_flights_exclusion:checked ~ .checkmark, #volcanoe_exclusion:checked ~ .checkmark{
    background-color:white;
    border: black 1px solid;
}

#excltest {
    background-color: #000080;
    border: black 1px solid;
}

input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 15px; 
    height:15px; 
    margin-top:6px; 
    margin-right:5px;
}