.coords{
    font-family: 'Space Mono';
    margin: 0px;
    padding: 0px;
}

#coords{
    margin: 10px;
    margin-left: 4%;
    padding: 2px;
    background-color: aliceblue;
    border: solid black 1px;
    width: 45%
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-family: 'Libre Caslon Text';
    font-size: xx-large;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exclusion{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
    background-color: aliceblue;
    width: 44.6%;
    border: solid black 1px;
    padding: 5px;
}

#excl{
    padding:0;
    margin:0
}


.info{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
    margin-top: 10px;
    width: 44.6%;
    padding: 5px;
}

#inf{
    margin: 5px;
}

.excl_container{
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: left;
}

